<div id="categories" class="tab-pane fade in ">
    <table class="table table-striped table-bordered">
        <tbody>
        {% for category in categories %}
        <tr>
            <td>
                <a href="{% url_helper path:blog_category_path object:category %}"><i class="icon-check"></i>&nbsp;{{ category.title }}({{ category.post_count }})</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
