<div class="well-small">
    <h3>Tag Cloud</h3>
    {% capture_variable tag_cloud %}{% blog_tag_cloud %}{% endcapture_variable %}
    {% for tag in tag_cloud %}
    <span class="label label-info"><i class="icon-tag icon-white"></i>
        <a href="{{ tag.url }}" class="{{ tag.css_class }}">&nbsp;{{ tag.name }}</a>
    </span>
    {% endfor %}
</div>