<footer class="row well no_margin_left">
    <p class="span7">© {{site_name}} {{ '%Y' | time_now }}</p>
    <p class="span4">
        Powered by <a href="/" title="Default Theme">Default Theme</a>
        and <a href="https://github.com/greendog/spreefinery" title="SpreeFinery">SpreeFinery</a> </p>



</footer>