<footer>
    <p class="copy-right">© {{site_name}} {{ '%Y' | time_now }}</p>
    <p class="credit">
        Powered by <a href="https://github.com/shoponrails/spreefinery_default_theme" title="Default Theme">Default Theme</a>
        and <a href="https://github.com/shoponrails/shop_on_rails" title="ShopOnRails">ShopOnRails</a> </p>
</footer>