<footer class="row">
    <p class="span6">© {{site_name}} {{ '%Y' | time_now }}</p>
    <p class="span6">
        Powered by <a href="/" title="Default Theme">Default Theme</a>
        and <a href="https://github.com/greendog/spreefinery" title="SpreeFinery">SpreeFinery</a> </p>
</footer>