<form id="new_refinery_user" method="post" class="new_refinery_user" action="/refinery/users/login" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline">
        <input type="hidden" value="✓" name="utf8">
        <input type="hidden" value="{{form_authenticity_token}}" name="authenticity_token">
    </div>
    <input class="input-small" type="text" name="refinery_user[login]" id="refinery_user_login" placeholder="{{ 'login_form.login_or_email' | translate }}">
    <input class="input-small" type="password" name="refinery_user[password]" id="refinery_user_password" placeholder="{{ 'login_form.password' | translate }}" autocomplete="off">
    <button type="submit" class="btn">{{ 'login_form.sign_in' | translate }}</button>
</form>
