<!-- The navbar structure is so tightly coupled with Bootstrap, there's no point making it Sass friendly -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{site_name}}</a>
            <div class="nav-collapse collapse">
                {% bootstrap_pages_menu %}
                <form action="{{ 'products_path' | url_helper }}" class="navbar-form pull-right">
                  <input name="keywords" type="text" class="search-query input" placeholder="Product Search">
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>