<!DOCTYPE html>
<html>
<head>
    {% include 'head' %}
</head>
<body>
{% include 'nav_bar' %}
<div class="main-container">
    {{content_for_layout}}
    {% include 'footer' %}
</div>
<!-- /container -->
</body>
</html>