<div class="row">
    <!-- sidebar -->
    <div class="col-lg-3">
        <div class="section-menu">
            <ul class="nav nav-list">
                <li class="nav-header">In This Section</li>
                <li><a class="first" href="about.htm">About Us <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
                <li class="active"><a href="team.htm">The Team <small>Our team of stars</small><i class="icon-angle-right"></i></a></li>
                <li><a href="contact.htm">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
    <!--main content-->
    <div class="col-lg-9">
        <h2 class="title-divider"><span>The <span class="de-em">Team</span></span> <small>Our team of stars! (Vector images by <a href="http://www.vectorportal.com/">Vectorportal</a>)</small></h2>

        <!-- The team -->
        <div id="team" class="block team margin-top-large">
            <div class="media">
                <div class="pull-left"> <img alt="Jimi" class="img-polaroid media-object" src="img/team/jimi.jpg"> </div>
                <div class="media-body">
                    <h4 class="media-heading">Jimi</h4>
                    <p class="role">Founder &amp; developer</p>
                    <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                        Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
                    <ul class="inline">
                        <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                        <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="testimonials" class="block testimonials margin-top-large margin-bottom-large">
            <h3 class="title-divider"><span>Highly <span class="de-em">Recommended</span></span> <small>99% of our customers recommend us!</small></h3>
            <div class="row">
                <div class="col-lg-3">
                    <blockquote>
                        <p>"It's totally awesome, we're could imagine life without it!"</p>
                        <small><img class="img-circle" alt="Jimi Bloggs" src="img/team/jimi.jpg"> Jimi Bloggs <span class="spacer">/</span> <a href="#">@mrjimi</a></small> </blockquote>
                </div>
                <div class="col-lg-3">
                    <blockquote>
                        <p>"10 out of 10, highly recommended!"</p>
                        <small><img class="img-circle" alt="Jimi Bloggs" src="img/team/jobs.jpg"> Steve Bloggs <span class="spacer">/</span> <a href="#">Founder of Apple</a></small> </blockquote>
                </div>
                <div class="col-lg-3">
                    <blockquote>
                        <p>"Our productivity &amp; sales are up! Couldn't be happier!"</p>
                        <small><img class="img-circle" alt="Adele Bloggs" src="img/team/adele.jpg"> Adele Bloggs <span class="spacer">/</span> <a href="#">@iamadele</a></small> </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>