<!-- Main hero unit for a primary marketing message or call to action -->
{% if content_for_hero-unit %}
<div class="main-banner">
    {{content_for_hero-unit}}
</div>
{% endif %}
<div class="main-content">
    <div class="content-left">
       {{content_for_left_sidebar}}
    </div>
    <div class="content-middle">
        {{content_for_body}}
    </div>
    <div class="content-right">
        {{content_for_right_sidebar}}
    </div>
</div>