{% content_for head %}
<script type="text/javascript">
    jQuery(document).ready(function($){
      var breads = {{ taxon | breadcrumbs_json }};
      $('#taxon-breadcrumbs').distal(breads);
    });
</script>
{% end_content_for %}

<ul id="taxon-breadcrumbs" class="breadcrumb">
    <li data-qrepeat="crumb breadcrumbs">
        <a data-qtext="crumb.label" data-qattr="href crumb.link" href="#"></a>
    </li>
</ul>
