{% capture_variable products %}{% get_products per_page:4 %}{% endcapture_variable %}
<ul class="products-grid">
    {% for product in products %}
    <li class="product-item">
        <div class="product">
            <a href="{{ 'product_path' | url_helper: product }}">{% image_for_product style:product %}</a>
            <div class="caption">
                <a href="{{ 'product_path' | url_helper: product }}"> <h5>{{ product.name }}</h5></a>
                Item Price: {{ product.price_with_currency }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>