{% capture_variable products_array %}{% get_products_tag per_page:50 %}{% endcapture_variable %}
{% for product in products_array %}

<div class="col-lg-4">
    <div class="product thumbnail">
        <a href="{% url_helper path:product_path, object:product %}">{% image_for_product_tag style:product %}</a>
        <div class="caption">
            <a href="{% url_helper path:product_path, object:product %}"> <h5>{{ product.name }}</h5></a>
            {{ 'products_page.price' | translate }}: {{ product.price_with_currency }}
        </div>
    </div>
</div>
{% endfor %}
{% paginator collection:products_array %}
