<div class="products-content">
    <div class="taxons-container">
        {% include 'spree/taxonomies' %}
    </div>
    <div class="products-container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li>Products</li>
        </ul>
        {% include 'spree/products' %}
    </div>
</div>