<div id="products-content" class="row">
    <div class="span3">
        {% include 'spree/taxonomies' %}
    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li>Products</li>
        </ul>
        {% include 'spree/products' %}
    </div>
</div>