{% content_for head %}
<link href="/themes/assets/stylesheets/products.css" rel="stylesheet">
{% end_content_for %}

<div id="products-content" class="row">
    <div class="col-lg-3">
        {% include 'spree/taxonomies' %}
    </div>
    <div class="col-lg-9">
        {% include 'spree/breadcrumbs' %}
        {% include 'spree/products' %}
    </div>
</div>