/*
 * require_tree .
 *= require_self
 */

@import "variables";
@import "bootstrap";
@import "bootswatch";

body {
  padding-top: 90px;
  padding-bottom: 40px;
}

footer {
  @extend .row;

  .copy-right {
    @include makeColumn(6);
  }

  .credit {
    @include makeColumn(6);
    text-align: right;
  }
}