/*
 *= require bootstrap/bootstrap
 *= require bootstrap/bootstrap-responsive
 *= require fancybox/jquery.fancybox
 *= require jquery.jgrowl
 * require_tree .
 *= require_self
 */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}