/*
 * require_tree .
 *= require_self
 */

@import "variables";
@import "bootstrap";
@import "bootswatch";

@import "wymeditor";

@import "products";
@import "product";

body {
  padding-top: 70px;
  padding-bottom: 40px;
}

.main-container {
  @extend .container;
}

form#new_refinery_user {
  @extend .navbar-form;
  @extend .pull-right;
  text-align: right;
}

.main-banner {
  @extend .hero-unit;
}

.main-content {
  @extend .row;

  .content-left {
    @include makeColumn(3);
  }

  .content-middle {
    @include makeColumn(6);
  }

  .content-right {
    @include makeColumn(3);
  }
}

footer {
  @extend .row;

  padding-top: 50px;

  .copy-right {
    @include makeColumn(3);
  }

  .credit {
    @include makeColumn(9);
    text-align: right;
  }
}

.line_item_quantity {
  @extend .input-small;
}