<title>{{item.name}}</title>
<description>
  <![CDATA[{{item.body | strip_tags | truncate: 100}}]]>
</description>
<pubDate>Thu, 09 Sep 2010 16:54:34 +0000</pubDate>
<link>{{item.url}}</link>
<guid>{{item.url}}</guid>
