<div class="row">
    <div class="span3">
      {% include 'refinery/news/archive' %}
    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Blog</li>
        </ul>
        <ul class="media-list thumbnails">
            {% for item in items %}
            <li class="media thumbnail">
                <div class="well-large">
                    <div class="media">
                        <section class="pull-left">
                            <div class="circle-icon"><div><i class="icon-file-alt icon-large icon-white"></i></div></div>
                        </section>
                        <div class="media-body">
                            <h1><a href="{% url_helper news_item_path, item %}">{{ item.title }}</a></h1>
                        </div>
                    </div>
                </div>
                <a class="pull-left well-small" href="{% url_helper news_item_path, item %}">
                    <img class="media-object img-polaroid" src="http://lorempixel.com/200/200/people/">
                </a>
                <div class="media-body well-small">
                    <p>{{ item.content }}</p>
                    <div class="pull-right">
                        <span class="badge badge-info"><i class="icon-calendar icon-white"></i>&nbsp;{{ item.publish_date | date: "%Y %h %d" }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% paginator collection:items %}
    </div>
</div>